<div class="details-page">
    <div class="details-image">
        <img src="{{this._id.image}}">
    </div>
        <hr>
    <div class="details">
        <h3>{{this._id.title}}</h3>
        <h5>{{this._id.director}}</h5>
        <h6>Stars</h6>
        <ul>
            <li>{{this._id.stars}}</li>
            <li>/</li>
        </ul>
        <p>{{this._id.description}}</p>
            <br>
        <p>{{this._id.showtimes}}</p>
        <a class="btn btn-primary" href="/movies" role="button">Return to all movies!</a>

    </div>
</div>